

.ForRow{
    display: flex; 
    
    flex-wrap: wrap; 
    gap: 0.5cm; 
    justify-content: space-between;
    width: 1200px;
}
.shadow{
    
    padding-bottom: .1cm;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom: 1cm;
    
}
.bgImg{
    position: absolute;
    background-image: url('./images/moana2movie.jpg');
    width: 90%;
    opacity: 40%;
    height: 630px;
}

.mvcard{
    width: 200px;
    height: 330px;
    
}
.mvCardRow{
    display: flex; 
    flex-wrap: wrap; 
    gap: 0cm; 
    justify-content: space-between;
    
}
.mvcardslide{
    width: 400px;
    height: 550px;
    cursor: pointer;
    margin-left: 2.9cm;
    
}

.card{
    background-color: transparent;
    border-color: transparent;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
.card-img{
    border-radius: 40px;
    background-color: transparent;
}
.title{
    font-size: 20px;
    text-align: center;
}
.popularity{
    font-size: 10px;
    text-align: right;
}
.container{
    margin-left: 3cm;
}
.slide{
    margin-left: 1cm;
    margin-bottom: 2cm;
}


@media (width<800px) {
    .ForRow{
        display: flex; 
        
        flex-wrap: wrap; 
        gap: 0.5cm; 
        justify-content: space-between;
        width: 100%;
    }
    .mvcard{
        width: 90px;
        height: 130px;
        
    }
    .mvCardRow{
        display: flex; 
        flex-wrap: wrap; 
        gap: 0cm; 
        justify-content: space-between;
        
    }
    .mvcardslide{
        width: 120px;
        height: 200px;
        cursor: pointer;
    }
    .title{
        font-size: 20px;
        text-align: center;
    }
    .popularity{
        font-size: 10px;
        text-align: right;
    }
   
    .slide{
        margin-left: 0.5cm;
       
    } 
    .container{
        margin-left: 0cm;
    }
    .shadow{
    
        padding-bottom: .1cm;
        margin-left: 0cm;
        margin-right: 0cm;
        margin-bottom: 1cm;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
        height: 350px;
        
    }
    .bgImg{
        position: absolute;
        
        width: 100%;
        opacity: 20%;
        height: 350px;
        background-position-x: 0;
        background-size: cover;
        
    }
    .carousel{
        height: 0;
        width: 0;
        opacity: 0;
    }
    
}