.sidebar .nav-link.active,
.sidebar a:hover,
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #fffbfe;
  background: transparent;
}

.ForRow{
    display: flex; 
    
    flex-wrap: wrap; 
    gap: 0.5cm; 
    justify-content: space-between;
    width: 1200px;
}
.shadow{
    
    padding-bottom: .1cm;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom: 1cm;
    
}
.bgImg{
    position: absolute;
    background-image: url('./images/moana2movie.jpg');
    width: 90%;
    opacity: 40%;
    height: 630px;
}

.mvcard{
    width: 200px;
    height: 330px;
    
}
.mvCardRow{
    display: flex; 
    flex-wrap: wrap; 
    gap: 0cm; 
    justify-content: space-between;
    
}
.mvcardslide{
    width: 400px;
    height: 550px;
    cursor: pointer;
    margin-left: 2.9cm;
    
}

.card{
    background-color: transparent;
    border-color: transparent;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
.card-img{
    border-radius: 40px;
    background-color: transparent;
}
.title{
    font-size: 20px;
    text-align: center;
}
.popularity{
    font-size: 10px;
    text-align: right;
}
.container{
    margin-left: 3cm;
}
.slide{
    margin-left: 1.5cm;
    margin-bottom: 2cm;
     padding-top: 3cm;
     max-height: fit-content;
}


@media (width<800px) {
    .ForRow{
        display: flex; 
        
        flex-wrap: wrap; 
        gap: 0.5cm; 
        justify-content: space-between;
        width: 100%;
    }
    .mvcard{
        width: 90px;
        height: 130px;
        
    }
    .mvCardRow{
        display: flex; 
        flex-wrap: wrap; 
        gap: 0cm; 
        justify-content: space-between;
        
    }
    .mvcardslide{
        width: 120px;
        height: 200px;
        cursor: pointer;
    }
    .title{
        font-size: 20px;
        text-align: center;
    }
    .popularity{
        font-size: 10px;
        text-align: right;
    }
   
    .slide{
        margin-left: 0.5cm;
       
    } 
    .container{
        margin-left: 0cm;
    }
    .shadow{
    
        padding-bottom: .1cm;
        margin-left: 0cm;
        margin-right: 0cm;
        margin-bottom: 1cm;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
        height: 350px;
        
    }
    .bgImg{
        position: absolute;
        
        width: 100%;
        opacity: 20%;
        height: 350px;
        background-position-x: 0;
        background-size: cover;
        
    }
    .carousel{
        height: 0;
        width: 0;
        opacity: 0;
    }
    
}

@media (height<400px)  {
    .ForRow{
        display: flex; 
        
        flex-wrap: wrap; 
        column-gap: 1cm;
        justify-content: space-between;
        width: 100%;
    }
    .mvcard{
        width: 90px;
        height: 130px;
        
    }
    .mvCardRow{
        display: flex; 
        flex-wrap: wrap; 
        gap: 2cm; 
        justify-content: space-between;
    }
    
    .container{
        margin-left: 2cm;
    }
}




.sidebar .nav-link.active,
.sidebar a:hover,
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #fffbfe;
  background: transparent;
}
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(250deg, rgb(133, 110, 145), rgb(157, 169, 215) 70%); /* Dark mode background */
    color: #ececec; /* Text color */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    
  }
  .search{
    height: 30px;
    width: 300px;
    
    font-size: xx-small;
  }


  .dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #444;
    color: #000000;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  .light-mode-toggle{
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #999999;
    color: #ffffff;
    border: none;
   width: 30px;
   height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .dark-mode {
    background: linear-gradient(250deg, rgb(63, 40, 75), rgb(31, 37, 60) 70%);
    color: #ddd;
  }
  


.bg{
   
    background: rgba(0, 151, 193, 0.6);
    
     
 }
 .navbar{
    position: sticky;
    top:0;
    
    height: 100px;
    backdrop-filter: blur(20px);
    width: 90%;
    margin: 0% 0% 0% 5%;
    border-radius: 10px;

}
 
 























 
 
 
 .navname{
     
     font-family: "Hachi Maru Pop", cursive;
     font-weight: bolder;
     font-size: 40px;
     color:blueviolet;
     padding-left: 3cm;
     
 }
 .navbar-collapse{
     margin: 0% 3% 0% 20%;
 }
.nav-link{
    color: blueviolet;
}







 
 
 @media (max-width: 768px){
     .navname{
         margin-left: 2%;
         
         font-size: 20px;
        
     }
     .nav-link{
        color: rgb(137, 98, 173);
    }
     .mr-sm-0{
         height: 40px;
         margin-top: .2cm;
     }
     .navbar-collapse{
         margin-left: 0%;
         text-align: right;
         margin-right: 1%;
     }
     .dark-mode-toggle {
        position: fixed;
        top: 1px;
        right: 90%;
        border: none;
        padding: 3px;
        border-radius: 50%;
        cursor: pointer;
        
        
      }
      .light-mode-toggle{
        position: fixed;
        top: 1px;
        right: 90%;
        background-color: #999999;
        color: #ffffff;
        border: none;
        padding: 3px;
        border-radius: 50%;
        cursor: pointer;
      }
      
      .search{
        height: 30px;
        width: 200px;
        margin-top: .2cm;
        font-size: xx-small;
      }
      .navbar{
        position: sticky;
        top:0;
        height: auto;
        backdrop-filter: blur(20px);
        width: 90%;
        margin: 0% 0% 0% 5%;
        border-radius: 10px;
      }
 }

 @media (height<500px) {
    .btn-sm{
        height: 30px;
        
    }
    .search{
        height: 30px;
        width: 200px;
        margin-top: 0cm;
        font-size: xx-small;
      }
      .navbar{
        position: sticky;
        top:0;
        
        height: auto;
        backdrop-filter: blur(20px);
        width: 90%;
        margin: 0% 0% 0% 5%;
        border-radius: 10px;
      }
      .slide{
        width: 0;
        height: 0;
        opacity: 0;
      }
      .bgImg{
        position: absolute;
       
        width: 82%;
        opacity: 40%;
        height: 200px;
    }
    
 }