<footer class="footer">
  <div class="container" >
    
    <div class="nl"
      
    >
      <a class="nav-link"><p class="ft">FAQ</p></a>
      <a class="nav-link"
        ><p class="ft">Terms &amp; Conditions</p></a
      >
      <a class="nav-link"
        ><p class="ft">Privacy Policy</p></a
      >
      <a class="nav-link"
        ><p class="ft">Cookie Policy</p></a
      >
      <a class="nav-link"
        ><p class="ft">Contact</p></a
      >
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
          <div class="site-logo" style="font-family: 'Jaro';color: aliceblue;">Movies</div>
          <p class="mb-2 mt-2 cr" style="color: aliceblue;">Copyright &copy; 2024 Angular MoviesWebsite</p>
        </div>
      </div>
  </div>
</footer>
