.navbar{
    position: sticky;
    top:0;
    background: transparent;
    backdrop-filter: blur(10px);
}
 
 
 .navname{
     margin-left: 7%;
     font-family: "Hachi Maru Pop", cursive;
     font-weight: bolder;
     font-size: 40px;
     color:#6879bc
 }
 .navbar-collapse{
     margin: 0% 3% 0% 40%;
 }
 
 @media (max-width: 768px){
     .navname{
         margin-left: 2%;
         
         font-size: 20px;
        
     }
     .mr-sm-0{
         height: 40px;
         margin-top: .2cm;
     }
     .navbar-collapse{
         margin-left: 0%;
         text-align: right;
         margin-right: 1%;
     }
     
 }