
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(250deg, rgb(133, 110, 145), rgb(157, 169, 215) 70%); /* Dark mode background */
    color: #ececec; /* Text color */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    
  }
  
  .search{
    height: 30px;
    width: 300px;
    
    font-size: xx-small;
  }


  .dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    
    color: #000000;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  .light-mode-toggle{
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: #ffffff;
    border: none;
   width: 30px;
   height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .dark-mode {
    background: linear-gradient(250deg, rgb(63, 40, 75), rgb(31, 37, 60) 70%);
    color: #ddd;
  }
  


.bg{
   
    background: rgba(0, 151, 193, 0.6);
    
     
 }
 .navbar{
    position: sticky;
    top:0;
    
    height: 100px;
    backdrop-filter: blur(20px);
    width: 90%;
    margin: 0% 0% 0% 5%;
    border-radius: 10px;

}
 
 
 
 
 
 .navname{
     
     font-family: "Hachi Maru Pop", cursive;
     font-weight: bolder;
     font-size: 40px;
     color:blueviolet;
     padding-left: 3cm;
     
 }
 .navbar-collapse{
     margin: 0% 3% 0% 20%;
 }
.nav-link{
    color: blueviolet;
}







 
 
 @media (max-width: 768px){
     .navname{
         margin-left: 2%;
         
         font-size: 20px;
        
     }
     .nav-link{
        color: rgb(137, 98, 173);
    }
     .mr-sm-0{
         height: 40px;
         margin-top: .2cm;
     }
     .navbar-collapse{
         margin-left: 0%;
         text-align: right;
         margin-right: 1%;
     }
     .dark-mode-toggle {
        position: fixed;
        top: 1px;
        right: 90%;
        border: none;
        padding: 3px;
        border-radius: 50%;
        cursor: pointer;
        
        
      }
      .light-mode-toggle{
        position: fixed;
        top: 1px;
        right: 90%;
        background-color: #999999;
        color: #ffffff;
        border: none;
        padding: 3px;
        border-radius: 50%;
        cursor: pointer;
      }
      
      .search{
        height: 30px;
        width: 200px;
        margin-top: .2cm;
        font-size: xx-small;
      }
      .navbar{
        position: sticky;
        top:0;
        height: auto;
        backdrop-filter: blur(20px);
        width: 90%;
        margin: 0% 0% 0% 5%;
        border-radius: 10px;
      }
 }

 @media (height<400px) {
    .btn-sm{
        height: 30px;
        
    }
    .search{
        height: 30px;
        width: 200px;
        margin-top: 0cm;
        font-size: xx-small;
      }
      .navbar{
        position: sticky;
        top:0;
        
        height: auto;
        backdrop-filter: blur(20px);
        width: 90%;
        margin: 0% 0% 0% 5%;
        border-radius: 10px;
      }
 }