.sidebar .nav-link.active,
.sidebar a:hover,
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #fffbfe;
  background: transparent;
  cursor: pointer;
}
body {
    font-family: 'Roboto', sans-serif;
   
    color: #ececec; /* Text color */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    
  }
  .btn{
    border-radius: 9px;
    margin-left: .2cm;
  }
  .search{
    height: 30px;
    width: 300px;
    
    font-size: xx-small;
  }



  .dark-mode {
   
    color: #ddd;
  }
  


.bg{
   
    background: rgba(0, 151, 193, 0.6);
    
     
 }
 .navbar{
    position: sticky;
    top:0;
    
    height: 100px;
    backdrop-filter: blur(20px);
    width: 90%;
    margin: 0% 0% 0% 5%;
    border-radius: 10px;

}
 
 
 
 
 
 .navname{
     
     font-family: "Hachi Maru Pop", cursive;
     font-weight: bolder;
     font-size: 40px;
     color:blueviolet;
     padding-left: 3cm;
     
 }
 .navbar-collapse{
     margin: 0% 3% 0% 20%;
 }
.nav-link{
    color: blueviolet;
}







 
 
 @media (max-width: 768px){
     .navname{
         margin-left: 2%;
         
         font-size: 20px;
        
     }
     .nav-link{
        color: rgb(137, 98, 173);
    }
     .mr-sm-0{
         height: 40px;
         margin-top: .2cm;
     }
     .navbar-collapse{
         margin-left: 0%;
         text-align: right;
         margin-right: 1%;
     }
     .dark-mode-toggle {
        position: fixed;
        top: 1px;
        right: 90%;
        border: none;
        padding: 3px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        
        
      }
      .light-mode-toggle{
        top: 1px;
        right: 90%;
        background-color: transparent;
        color: #ffffff;
        border: none;
        padding: 3px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
      }

      .dark-mode-toggle, .light-mode-toggle {
        border: none;
        padding: 10px 15px;
        font-size: 16px;
        background-color: transparent;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
      }
      
      .search{
        height: 30px;
        width: 200px;
        margin-top: .2cm;
        font-size: xx-small;
      }
      .navbar{
        position: sticky;
        top:0;
        height: auto;
        backdrop-filter: blur(20px);
        width: 90%;
        margin: 0% 0% 0% 5%;
        border-radius: 10px;
      }
 }
@media (width<400px) {
  .search{
    width: 100px;
  }
}
 @media (height<500px) {
    .btn-sm{
        height: 30px;
        
    }
    .search{
        height: 30px;
        width: 200px;
        margin-top: 0cm;
        font-size: xx-small;
      }
      .navbar{
        position: sticky;
        top:0;
        
        height: auto;
        backdrop-filter: blur(20px);
        width: 90%;
        margin: 0% 0% 0% 5%;
        border-radius: 10px;
      }
      .dark-mode-toggle {
        position: fixed;
        background-color: transparent;
        top: 1px;
        right: 90%;
        border: none;
        padding: 3px;
        border-radius: 50%;
        cursor: pointer;
        
        
      }
      .light-mode-toggle{
        position: fixed;
        top: 1px;
        right: 90%;
        background-color: transparent;
        color: #ffffff;
        border: none;
        padding: 3px;
        border-radius: 50%;
        cursor: pointer;
      }
 }