/* .bg{
    background: linear-gradient(180deg, rgba(0, 151, 193, 0.6) 10%, rgba(153, 237, 204, 0.6) 90%);
    
} */
.container1{
    margin: 1% 5% 1% 5%;
}
.ForRow{
    display: flex; 
    
    flex-wrap: wrap; 
    gap: 0.5cm; 
    justify-content: space-between;
    
    width: 1200px;
}
.ForRow1{
    display: flex; 
    
    flex-wrap: wrap; 
    gap: 0cm; 
    justify-content: space-between;
    
    width: 1300px;
}
.mvcard{
    width: 120px;
    height: 230px;
    
}
.mvcard1{
    width: 120px;
    height: 230px;
}


.name{
    text-align: center;
    color: aliceblue;
    font-family: "jaro";
}

.mvcardb{
    border-color: transparent;
    background-color: transparent;
    width: 400px;
    height: 580px;
    cursor: pointer;
}
.title{
    font-size: 20px;
    text-align: center;
}
.popularity{
    font-size: 10px;
    text-align: right;
}
.img{
    width: 100px;
    height: 180px;
}


@media (width< 800px) {
    .ForRow{
        display: flex; 
        
        flex-wrap: wrap; 
        gap: 0.5cm; 
        justify-content: space-between;
        
        width: 450px;
    }
    .ForRow1{
        display: flex; 
        position: absolute;
        flex-direction: row-reverse;
        flex-wrap: wrap; 
        gap: 0cm; 
        justify-content: space-between
        ;
        
        width: 0px;
        height: 0px;
        position: absolute;

    }
    .mvcard{
        width: 120px;
        height: 230px;
        
    }
    .mvcard1{
        width: 0;
        height: 0;
        opacity: 0;
    }
    
    
    .name{
        text-align: center;
        color: aliceblue;
        font-family: "jaro";
    }
   
    .mvcardb{
        border-color: transparent;
        background-color: transparent;
        width: 400px;
        height: 580px;
        cursor: pointer;
    }
    .title{
        font-size: 20px;
        text-align: center;
    }
    .popularity{
        font-size: 10px;
        text-align: right;
    }
    .img{
      width: 0px;
      height: 0px;
    }
    
}