<div class="container1">


<div class="container MvB" >
  <h1 class = "name">Popular Movies</h1>
  <div class="ForRow1">
      <div *ngFor="let movie of movieListResults; let i = index">
              
                  <div *ngIf="i < 15">
                      <div *ngIf="i> 5"  >
                          <div class="card btn btn-close mvcard1" [routerLink]="['/',movie.title]" >
                              <img class="card-img img"
                              [src]="'http://image.tmdb.org/t/p/w500/' + movie.poster_path"
                              alt=""
                              
                            />
                            <div class="popularity">{{movie.popularity}}</div>
                            
                            </div>
                      </div>
                    </div>
                
                
          

      </div>
  </div>
 
  <div class=" ForRow" >
    <div *ngFor="let movie of movieListResults; let i = index" >
      <div *ngIf="i == 0">
          <div class="card  mvcardb" [routerLink]="['/',movie.title]" >
              <img class="card-img"
              [src]="'http://image.tmdb.org/t/p/w500/' + movie.poster_path"
              alt=""
              width="200px"
              height="550px"
            />
            <div class="popularity">{{movie.popularity}}</div>
            
            </div>
      </div>
    <div *ngIf="i < 6">
      <div *ngIf="i> 0">
          <div class="card btn btn-close mvcard" [routerLink]="['/',movie.title]" >
              <img class="card-img"
              [src]="'http://image.tmdb.org/t/p/w500/' + movie.poster_path"
              alt=""
              width="200px"
              height="300px"
            />
            <div class="popularity">{{movie.popularity}}</div>
            
            </div>
      </div>
    </div>
    </div>
  </div>



  
 
</div>

<hr style="border: 2px dotted;">




<div class="container " >
  <h1 class="name">Top Rated Movies</h1>
  <div class="ForRow1 ">
      <div *ngFor="let movie of topRated; let i = index">
              
                  <div *ngIf="i < 15">
                      <div *ngIf="i> 2"  >
                          <div class="card btn btn-close mvcard1" [routerLink]="['/',movie.title]" >
                              <img class="card-img img"
                              [src]="'http://image.tmdb.org/t/p/w500/' + movie.poster_path"
                              alt=""
                             
                            />
                            <div class="popularity">{{movie.popularity}}</div>
                            
                            </div>
                      </div>
                    </div>
                
                
          

      </div>
  </div>
  <div class=" ForRow" >
    <div *ngFor="let movie of topRated; let i = index" >
      <div *ngIf="i == 0">
          <div class="card  mvcardb" [routerLink]="['/',movie.title]" >
              <img class="card-img"
              [src]="'http://image.tmdb.org/t/p/w500/' + movie.poster_path"
              alt=""
              width="200px"
              height="550px"
            />
            <div class="popularity">{{movie.popularity}}</div>
            
            </div>
      </div>
    <div *ngIf="i < 6">
      <div *ngIf="i> 0">
          <div class="card btn btn-close mvcard" [routerLink]="['/',movie.title]" >
              <img class="card-img"
              [src]="'http://image.tmdb.org/t/p/w500/' + movie.poster_path"
              alt=""
              width="200px"
              height="300px"
            />
            <div class="popularity">{{movie.popularity}}</div>
            
            </div>
      </div>
    </div>
    </div>
  </div>



  
 
</div>

</div>